<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="Bolareshet.UploadPresignedURClient">
        <section name="mefModules" type="System.Configuration.DictionarySectionHandler"/>
      </sectionGroup>
    </configSections>
    <Bolareshet.UploadPresignedURClient>
      <mefModules>
        <add key="key01" value="CompressModuel.dll"/>
      </mefModules>
    </Bolareshet.UploadPresignedURClient>
    <appSettings>
      <!--https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Predefined_entities_in_XML-->
      <add key="S3PresignedURL" value="https://s3.eu-west-1.amazonaws.com/bolareshet.co.il/Upload/Images/Shoot2019/Images.rar?AWSAccessKeyId=AKIA3R3JWOEE2ORPJ374&amp;Expires=1565247000&amp;Signature=51K9JOobRKUePh9orqM0Zz7sz7g%3D" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>